#btnSubmit{
    background-color: #FF4A00; 
    color: white;
    transition: color 0.3s ease-in-out;
    border-style: none;
}
#btnSubmit:hover{
    background-color: #FF4A00; 
    color: rgb(0, 0, 0);
}


.navbar{
    height: 70px;
}
.nav-link{
    font-weight: 500;
}
.nav-link:hover,#nav-active{
    color: #ff0000;  
}

body{
    margin: 0 ;
}
.cursor-pointer{
    cursor: pointer;
}
#btn-readMore{
    background-color: #ff0000;
    color: white;
    background-color: #ff0000;
    color: white;
    width: 120px;
    margin-top: 20px;
}






.btn {
    transition: 1s;
}
#book-table-btn{
    background-color: #FF4A00;
    border: #FF4A00 2px solid;
}
#book-table-btn:hover{
    background-color: transparent;
    color: #FF4A00;

}


/*about us*/

#about-us{
    color: #FF4A00;
}

#Years{
    color: #FF4A00;
}

#read-more{
    background-color: #FF4A00;
    border: #FF4A00 2px solid;
    color: white;
}
#read-more:hover{
    background-color: transparent;
    color: #FF4A00;

}
.border-custom-orange {
    border-color: #FF4A00 !important;
}

#our-team{
    margin-top: 50px;
}



/*footer*/
footer {
    background-color: #000000;
    color: #B8B8B8; 
    padding: 20px 0;
  }
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .social-icons li {
    margin-right: 10px;
  }
  .social-icons img {
    width: 25px;
    height: 25px;
  }
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .logo-container img {
    width: 150px; 
    height: auto;
  }
  .copyright {
    text-align: center;
    margin-top: 10px;
    margin-bottom:40px ;


  #Top-Rated-Recipes{
    color: #FF4A00;
  }
  #team-color{
    color: #FF4A00;
    }